:host {
    flex: 1;

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .btn-container {
            display: flex;
            .btn {
                flex: 1;
            }
        }
        
        .errorMessage {
            color: red;
            font-weight: 700;
            padding-top: 1rem;
        }
    }
}